<!DOCTYPE html>
<html lang="@Page.Language">

<head>
	<title>@Page.HeadTitle</title>

	@var og = Page.OpenGraph;
	@if (og != null)
	{
		<meta charset="UTF-8">
		<meta name="description" content="@og.Description">

		<meta property="og:type" content="@og.Type" />
		<meta property="og:title" content="@og.Title" />
		<meta property="og:description" content="@og.Description" />
		<meta property="og:image" content="@og.Image" />
		<meta property="og:url" content="@og.URL" />

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="@og.Title">
		<meta name="twitter:description" content="@og.Description">
		<meta name="twitter:image" content="@og.Image">
		<meta name="twitter:url" content="@og.URL">
	}

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#333">

	<link rel="apple-touch-icon" href="/icons/logo-192x192.png" />
	<link rel="manifest" href="/manifest.json">

	<link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/lib/bootstrap/bootstrap-icons.min.css">
	<script defer src="/lib/bootstrap/bootstrap.bundle.min.js"></script>

	<link rel="stylesheet" href="/build/app.css?v=1.0">
	<script defer src="/build/app.js?v=1.0"></script>
	<script>var i18nAssetsVersion = "1.0";</script>
</head>

<body>
	<noscript>You need to enable JavaScript to run this app.</noscript>
	<div id="app-loading-indicator" class="loading-spinner"></div>
	<main class="spa-container"></main>
</body>

</html>
